
<h1>Konfirmasi</h1>
<% donations.forEach((donation, i) => { %>
  <br>
  <%= i+1 %>
  <br>
  <%= donation.name %>
  <br>
  <%= donation.condition %>
  <br>
  <%= donation.address %>
  <br>
  <form action="/admin/donation/<%= donation._id %>/accept" method="POST">
    <button type="submit" class="btn btn-success">Accept</button>
  </form>
  
  <form action="/admin/donation/<%= donation._id %>/reject" method="POST">
    <button type="submit" class="btn btn-danger">Reject</button>
  </form>
  <br><br>
  <dic class="col-4">
    <img src="/images/donations/<%=donation.image%>" alt="" srcset="" width="100" height="100">
  </dic>
<% }) %>